/* body {
  position: relative;
  margin: 0;
  padding: 0;
  background: url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/shooter.jpg) no-repeat 0 0;
  background-size: auto;
  min-height: auto;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  color: white;
}

.places {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 5px;
  padding: 5px 10px;
}

ul ul {
  margin-left: 150px;
  font-size: 0.8em;
}

.places > li {
    border-bottom: 2px solid #ccc;
}
.places > li > ul > li > span{
    font-weight: bold;
}  сверху задание 7*/
 /*  body {
  position: relative;
  margin: 0;
  padding: 0;
  background: url(https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/shooter.jpg) no-repeat 0 0;
  background-size: auto;
  min-height: auto;
}

.target {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  justify-content: space-around;
  width: 180px;
  height: 30px;
  margin: 0;
  padding: 5px 5px;
  list-style: none;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  align-items: center;
}

li {
  width: 13px;
  height: 13px;
  font-size: 0;
  background-color: #333333;
  border: 1px solid #333333;
  border-radius: 50%;
  margin-left: 0;
}
li:first-child {
    background-color: red;
}
li {
    background-color:white;
}
li:last-child {
    background-color: yellow;
}  сверху задание 8 */
  /* body {
  font-size: 90%;
  font-family: sans-serif;
  min-height: auto;
}

form {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

label:first-child {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 1em;
  margin-bottom: .5em;
}

input[type=password], input[type=submit], input[type=text] {
  width: 95%;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

input[required] {
    background-color: #fcf8e3;
}
input[type=password] {
    background-color: #f2dede;
}
input[type=submit] {
    border-color: green;
} сверху 10 задание */
/*  body {
  font-size: 90%;
  font-family: sans-serif;
  min-height: auto;
}

form {
  width: 50%;
  margin: 50px auto;
  padding: 20px 20px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

label:first-child {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

input[type="text"], input[type="password"] {
  width: 95%;
  padding: 8px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  width: 80px;
  margin-top: 20px;
  padding: 8px;
  color: #333333;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#fullname {
    background-color: #fcf8e3
}
#year {
    width: 100px;
} */
.inlineblock{
  display: inline-block;
    box-sizing: border-box;
  border: 3px solid green;
  background-color: lightgreen;
  width: 200px;
  height: 500px;
  padding: 10px;
  margin: 10px;
}
.block{
  display: block;
    box-sizing: border-box;
  border: 3px solid red;
  background-color: coral;
  width: 200px;
  padding: 10px;
  margin: 10px;
  color: white;
}
.none{
  display: none;
    box-sizing: border-box;
  border: 3px solid blue;
  background-color: skyblue;
  width: 150px;
  padding: 10px;
  margin: 10px;
}
.inline{
  display: inline;
    
  border: 3px solid purple;
  background-color:pink;
  width: 150px;
  padding: 10px;
  margin: 10px;
}
.flex{
  display: flex;
    box-sizing: border-box;
  border: 3px solid orangered;
  background-color: lightsalmon;
  width: 250px;
  padding: 10px;
  margin: 10px;
  height: 200px;
  justify-content: center;
  align-items:end
}
.inline-flex{
  display: inline-flex;
  /* box-sizing: content-box; это по дефолту */
  box-sizing: border-box;
  border: 3px solid blue;
  background-color: skyblue;
  width: 200px;
  padding: 10px;
  margin: 10px;
  height: 200px;
  justify-content: center;
  align-items:center
}