main {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
main > div {
  width: 50%;
}
.container-left {
  position: relative;
 
}
.img1 {
  width: 150%;
}
.img2 {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 20%;
}
.container-right {
  width: 100%;
}
div.title,
div.text {
  text-align: left;
  margin-left: auto;
  padding-left: 30%;
  font-size: smaller;
}
.title h2{
    color: #7B8A92;
    font-size: 20px;
}
div.title {
  padding-top: 8%;
}
.text span{
    color: #96A5B1
}
body {
  background-color: #eff6ff;
}
div.buttons {
    display: flex;
    gap: 25%;
    padding-left: 30%;
}
div.facebook {
  align-content: right;
  padding-top: 5%;
  width: 120px;
}
button.face {
    display: flex;
    width: 250px;
    background-color: #255A9B;
   border: 0px ;
}
button.face > img{
    align-self: center;
}

p.rgface {
  white-space: nowrap; 
  cursor: pointer;
  display: block; 
  color: white;
  font-size: 11px;
  padding-right: 20px;
}
div.linkedin {
  align-content: right;
  padding-top: 5%;
  width: 120px;
}
p.rglink {
  white-space: nowrap; 
  cursor: pointer;
  display: block; 
  color: white;
  font-size: 11px;
  padding-right: 20px;
}
button.link {
    display: flex;
    width: 250px;
   border: 0px ;
   background-color: #0076B6;
}
button.link > img{
    align-self: center;
}
.textline {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 7%;
    padding-left: 1%;
    color: #96A5B1;
    font-size: smaller;
}
.textline::before,
.textline::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.textline::before {
    margin-right: 3%;
    margin-left: 37%;
}
.textline::after {
    margin-left: 3%;
    margin-right: 30%;
}
div.form-container {
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 56%;
    padding: 30px;
    gap: 14%;
    padding-left: 18%;

}
form {
    margin-bottom: 15px;
}
form label {
    display: block;
    margin-bottom: 5px;
    padding: 19px 15px 10px 10px;
    position: absolute;
    font-size: 12px;
    top: 14px;
    color: #AFAFAF;
}
form input{
    width: 250px;
    padding: 20px 20px 10px 12px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px #EEEEEE;
    transition: border-color 0.3s ease;
}
form input:focus{
    outline: none;
    border-left: 2px solid #0076B6;
}
.text2 {
    text-align: left;
    margin-left: auto;
    padding-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
   color: #7B8A92;
}
.text3 p{
    font-size: 12px;
    padding-left: 30%;
    color: #96A5B1;
}
.radio-group{
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}
.radio-option{
    position: relative;
    cursor: pointer;
    font-size: 15px;
    left: 30%;
    padding-top: 3%;
}
 .radio-option input{
    margin-right: 6px;

 }
 .info-icon{
    display: inline-block;
    margin-left: 6px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #c2c2c2 ;
    font-size: 12px;
    cursor: pointer;
    color: #c2c2c2;
 }
 .tooltip {
    position: absolute;
    left: 0;
    top: 60px;
    background: #ffffff;
    padding: 8px 10px;
    border-radius:  6px;
    box-shadow:  0 2px 6px #515151;
    font-size: 14px;
    display: none;
    width: 200px;
    color: #7b8a92;
 }
 .info-icon:hover + .tooltip {
display: block;
 }
 .check{
    display: flex;
    position: relative;
    left: 30%;
    padding-top: 70px;
    gap: 3%;
 }
.checkbox + p{
    position: absolute;
}
.agreement{
    color: #7B8A92;
}
.last-container{
    display: flex;
    position: absolute;
    padding-left: 20%;
    padding-top: 4%;
}
.create-button{
    width: 230px;
    background-color: #72aef7;
   border: 0px ;
   border-radius: 3px;
   height: 60px;
   color: #ffffff;

}

.create-button:hover{
    transform : scale(1.1)
}

