*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
@font-face {
    font-family: 'TT Lakes Condensed Regular';
    src: url('TTLakesCondensed-Regular.eot');
    src: url('TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTLakesCondensed-Regular.woff') format('woff'),
    url('TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    body{
        display:grid;
        grid-template-rows:  auto;
    }
    main{ 
      font-family: 'TT Lakes Condensed Regular', sans-serif;
      max-width: auto;
       background-color: #f8f8f8;
      
    }
    .header{
       max-width:auto;
        height: auto;
    }
    .header__navigation{
        font-family: 'TT Lakes Condensed Regular', sans-serif;
        display: flex;
      justify-content: center;
      gap: 12px;
        align-items: center;
        box-sizing: border-box;
        height: 88px 
        

    }
    .header__navigation--item {
        font-family: 'TT Lakes Condensed Regular', sans-serif;
        color: #000000;
        font-size:0;
    }
    .title__img{
        height: 40%;
    }
    .title{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        font-weight: 700px;
        line-height: 40px;
        font-size: 14px;
    }
    .sidemenu{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        white-space: nowrap;
    
    }
    ::-webkit-scrollbar { 
        width: 0;/* этой окомандой убрал скролбар , но нужно ли? */
    }
    .sidemenu__button{
        min-width: 232px;
        height: 30px;
        font-weight: 500;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        color: #7E7E82;
        border: 2px solid #f8f8f8;
    }
    .sidemenu__button:hover{
        background-color: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        cursor: pointer;
    }
    .content{
        max-width: 300px;
        padding: 16px;  
    }
    .content__text{
        font-size: 14px;
        color: #1B1C21;
    }
.content2{
    display:flex;
    gap:10px;
    margin-left:15px;
}
.content__photo{
    margin-top: 15px;
}


