*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.main{ 
    max-width: 1200px;
}
h2 {
    color: rgb(0, 255, 64);
    margin: 20px;
}
.grid-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
}
.item{
    text-align: center;
    background-color: lightgreen;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;

}

@media (max-width: 600px) {
    .grid-box {
        grid-template-columns: repeat(2, 2fr);
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .grid-box {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .grid-box {
        grid-template-columns: repeat(4, 1fr);
    }
}