.main-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax (20px,2fr));
     grid-template-rows: 100px 100px 300px 100px;
    gap: 10px;
    padding:20px;
}
.section{
    background-color: lightblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
}
.header{
 grid-column: 1/4;
}
.navigation-menu{
 grid-column: 1/4;
}
.footer{
 grid-column: 1/4;
}
.left{
    grid-column: 1/2;
}
.middle{
    grid-column: 2/3;
}
.right{
    grid-column: 3/4;
}

.middle{
    display:flex;
    justify-content: space-around;
}
.picture{
    width:30%;
    height:60%;
    background-color: rgb(153, 16, 16);
    border-radius: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:white;
}