.static-positioning{
    width: 200px;
    height: 200px;
    background-color: rgb(89, 0, 255);
    left: 12%;
    position:static;
    color: wheat;
}
.relative-positioning{
    width: 200px;
    height: 200px;
    background-color: rgb(253, 196, 255);
    position: relative;
    left: 20%;
    top: 80px;
    z-index: 100;
}
.relative-positioning2{
    width: 200px;
    height: 200px;
    background-color: rgb(246, 255, 196);
    position: relative;
    left: 20%;
    top: 80px;
}
.container2{
    position: relative;
    background-color: aqua;
}
.absolute-positioning {
   position: absolute;
   width:200px;
   height: 200px;
   background-color: green;
}
